.Tabs {
    position: absolute;
    width: 80%;
    border-radius: 5px;
    position: relative;
    margin-top: -5rem;
    margin-left: -10rem;
    
}
.Autocomplete {
    margin-left: 15rem;
    margin-top: -7.8rem;
}
